<?xml version="1.0" encoding="UTF-8"?>

<config>

  <app.paths>
    <path value="C:/Users/%USERNAME%/.wpftemplate/" alias="Root"/>
    <path value="C:/%PROGRAMFILES%/WpfTemplate" alias="Installed"/>
    <path value="C:/%PROGRAMFILES%/WpfTemplate/themes/" alias="Themes"/>
    <path value="C:/Users/%USERNAME%/.wpftemplate/user_settings/" alias="UserSettings"/>
    <path value="C:/Users/%USERNAME%/.wpftemplate/solutions/" alias="DefaultForSolutions"/>
  </app.paths>
  
</config>